; Inifile for opensearch

[setup]
; To close a service, set service_http_error
; service status - values:
;service_http_error = HTTP/1.0 404 Not Found
;service_http_error = HTTP/1.1 410 Gone
;service_http_error = HTTP/1.0 503 Service Unavailable

; --------------
;version
; Note that the version is used as part of the cache key, so do not run 2 versions of the service with identical
; version name, unless you specificly want them to share cache
version = 4.2.1

; --------------
; wsdl and service location for service. Used to replace __LOCATION__ in wsdl
wsdl = opensearch.wsdl

;service location used as endpoint in the wsdl-file. If not set, the actual address/location is used
;service_location = opensearch.addi.dk/4.1/

; --------------
; in_house_domain may use ?ShowInfo and use create_sample form
in_house_domain = {{getv "/mydomain"}}

; set to TRUE to expose the create_sample form
; show_samples = 1
; show_samples_ip_list = 127.0.0.1

; --------------
; validate
; Validation of response requires you to include the xsd's for dkabm, docbook, in opensearch.xsd
;
;validate[soap_request] = soap.xsd
;validate[request] = opensearch.xsd
;validate[response] = opensearch.xsd

; --------------
; soapActions and their corresponding request structure
; Can be found in the wsdl but is stated here for convenience
soapAction[search] = searchRequest
soapAction[getObject] = getObjectRequest
soapAction[info] = infoRequest

; --------------
; Feature switches
; display.xxxx set to array will return all display.xxxx as array for objectFormats defined below in solr_format[]
; for display.creator this would be like
; feature_switch[display.creator] = array 

; --------------
; url_override
; url_override[url_command] = functionToCall
; if start of the request equals url_command and functionToCall exists, it will be called
; like: myservice.dk/myversion?url_command
; functions ShowInfo, Version, HowRU, Wsdl and RegressionTest are found in the abstract service
; if not specified, defaults to HowRU, ShowInfo, wsdl and Version
url_override[HowRU] = HowRU
url_override[ShowInfo] = ShowInfo
url_override[Version] = Version
url_override[wsdl] = Wsdl
;url_override[RegressionTest] = RegressionTest
; diffCqlFileWithSolr - use &repository= in url if set
url_override[diffCqlFileWithSolr] = diffCqlFileWithSolr
url_override[showCqlFile] = showCqlFile

; --------------
; prefixes and namespaces
default_namespace_prefix = os
xmlns[os] = http://oss.dbc.dk/ns/opensearch
xmlns[of] = http://oss.dbc.dk/ns/openformat
xmlns[ofo] = http://oss.dbc.dk/ns/openformatoutput
xmlns[xs] = http://www.w3.org/2001/XMLSchema
xmlns[xsi] = http://www.w3.org/2001/XMLSchema-instance
xmlns[oss] = http://oss.dbc.dk/ns/osstypes
xmlns[dc] = http://purl.org/dc/elements/1.1/
xmlns[dkabm] = http://biblstandard.dk/abm/namespace/dkabm/
xmlns[dcmitype] = http://purl.org/dc/dcmitype/
xmlns[dcterms] = http://purl.org/dc/terms/
xmlns[ac] = http://biblstandard.dk/ac/namespace/
xmlns[dkdcplus] = http://biblstandard.dk/abm/namespace/dkdcplus/
xmlns[kml] = http://www.opengis.net/kml/2.2
xmlns[mx] = http://www.loc.gov/MARC21/slim
xmlns[marcx] = info:lc/xmlns/marcxchange-v1
xmlns[docbook] = http://docbook.org/ns/docbook
xmlns[oso] = http://oss.dbc.dk/ns/opensearchobjects
xmlns[dbcbib] = http://oss.dbc.dk/rdf/dbcbib#
xmlns[dbcaddi] = http://oss.dbc.dk/rdf/dbcaddi#



; --------------
; path to xml-examples
xmldir = ./xml

; --------------
; set missing_record to handle inconsistency between solr and fedora
missing_record = <?xml version='1.0' encoding='UTF-8'?><ting:container xmlns:ting='http://www.dbc.dk/ting' xmlns:dkabm='http://biblstandard.dk/abm/namespace/dkabm/' xmlns:dc='http://purl.org/dc/elements/1.1/'><dkabm:record><dc:title>Cannot read record: %s</dc:title></dkabm:record></ting:container>
;
; set missing_marc_record to handle requests for nonexisting record in rawrepo
missing_marc_record = <?xml version='1.0' encoding='UTF-8'?><marcx:record format='danMARC2' type='Bibliographic' xmlns:marcx='info:lc/xmlns/marcxchange-v2'><marcx:datafield tag='001' ind1='0' ind2='0'><marcx:subfield code='a'>%s</marcx:subfield><marcx:subfield code='b'>%s</marcx:subfield></marcx:datafield><marcx:datafield tag='245' ind1='0' ind2='0'><marcx:subfield code='a'>%s</marcx:subfield></marcx:datafield></marcx:record>


; --------------
; agencies allowed to see records from RR (postgress db) containing s11 field
s11_agency[] = 100200
s11_agency[] = 870970

; --------------
; agencies allowed to search/fetch any record from RR
all_rawrepo_agency[] = 010100
;all_rawrepo_agency[] = 870970

; --------------
; repository setup
; default repository
default_repository = {{getv "/repositoryname"}}

; define repository[defaults] parameters for:
; - fedora_get_raw: parameters to get raw record from fedora - commonData stream
; - fedora_get_rels_hierarchy: parameters to get work-/unit-structure relations from fedora - RELS-SYS stream
; - fedora_get_rels_addi: parameters to get addi relation datastream - RELS-EXT stream
; - fedora_get_object_profile: parameters to get object state/profile from fedora - if not set, deleted records will be returned
; - fedora_get_datastreams: parameters to get datastreams for an object
; - collection_query - Filtering on the collectionIdentifiers specified by the search profile
; - collection_alias - Alias' for collections for filtering to work differently for records with imore thanh one collectionIdentifier
; - filter - Filtering on the collectionIdentifiers specified by the search profile
; Defaults starting with fedora_ will be prefixed by the fedora url set below, the rest is normal defaults
; All default settings will be set in each repository, unless a repository specifically has defined the setting
; The user can specify the repository to use in the request and override the default_repository setting

repository[defaults][fedora_get_raw] = %s/datastreams/commonData/content
repository[defaults][fedora_get_rels_hierarchy] = %s/datastreams/RELS-SYS/content
repository[defaults][fedora_get_rels_addi] = %s/datastreams/RELS-EXT/content
repository[defaults][fedora_get_object_profile] = %s?format=xml
repository[defaults][fedora_get_datastreams] = %s/datastreams?format=xml

; cql file - xml file containing useable registers and cql operators.
repository[defaults][cql_file] = opensearch_cql.xml

; url to solr and fedorainterface
; - solr: url to solr-server
; - fedora: url to fedora
; The fedora_* lines in the repository[defaults] structure above, will set identical repository 
; parameters appending the defaults setting to the fedora uri below
; Remember to end the fedora uri below with a slash
; If one or more of the parameters for a repository does not follow the "normal" structure, 
; they can be set directly below like
; repository[my_repository][fedora_get_datastreams] = special/%s/parameter?format=...

repository[{{getv "/repositoryname"}}][solr] = http://dbc-tomcat-solr:8080/solr/fedora/select
repository[{{getv "/repositoryname"}}][fedora] = http://dbc-tomcat-fedora:8080/fedora/objects/

; Querying holdings using the join handler
; to "filter" searches using holding information registered in a separate solr index
; opensearch_cql.xml describes which indexes are to be found in $HOLDINGS_ITEMS_INDEX@ via the searchHandler attribute
; Could be in opensearch_cql.xml a line like
;   <name set="holdingsitem" searchHandler="holding" filter="1">accessionDate</name>
; would use a setting like the lines below
;repository[myrepos][handler_format][holding][fq] = {!join from=parentDocId to=rec.childDocId fromIndex=holdings-items-index defType=edismax} %s__COLLECTION_INCLUDE__
;repository[myrepos][handler_format][holding][q] = _query_:%22{!join from=parentDocId to=rec.childDocId fromIndex=holdings-items-index defType=edismax} %s__COLLECTION_INCLUDE__%22
; the filter attribute controls if the join operation shold go to fq (filter query) or q (query) solr parameter

repository[{{getv "/repositoryname"}}][handler_format][holding][fq] = {!join from=parentDocId to=rec.childDocId fromIndex=http://dbc-tomcat-solr-fedora-holdingsitems:8080/solr/holdingsitems defType=edismax} %s__COLLECTION_INCLUDE__
repository[{{getv "/repositoryname"}}][handler_format][holding][q] = _query_:%22{!join from=parentDocId to=rec.childDocId fromIndex=http://dbc-tomcat-solr-fedora-holdingsitems:8080/solr/holdingsitems defType=edismax} %s__COLLECTION_INCLUDE__%22

; collection query filter
; Filtering on the collectionIdentifiers specified by the search profile
; Records in 870976-anmeld has to be more than 6 months old
; The search profile is kept in solr's filter cache, so the /DAY is needed to make it cachable
repository[{{getv "/repositoryname"}}][collection_query]['870976-anmeld'] = rec.createdDate:[* TO NOW-6MONTHS/DAY]

; collection_alias
; Alias' for collections for filtering to work differently for records with more than one collectionIdentifier
; repository[my_repository][collection_alias]['the.collectionIdentifier.used.in.the.record.id'] = the.alias
; Sofar only one of these is needed
repository[{{getv "/repositoryname"}}][collection_alias]['870976-anmeld'] = 870976-allanmeld

; Filtering in marcxchange records kan be done by defining a filter mask
; with regular expression matching owner, fields and subfields
; owner is matched against the record source (collectionIndentifier)
; repository[my_repository][filter][owner][marcxchange]['regexp matching field(s)'] = regexp matching subfield(s)
; 
; Remove all fields that starts with a-z like
;repository[my_repository][filter][owner][marcxchange]['^[a-z]'] = .
;
; Remove all & subfields in field 100 like, the second parameter is the regex specifying the tag(s)
;repository[my_repository][filter][owner][marcxchange][100] = &
;
; Remove all & subfields in all 3 digit numeric fields
;repository[my_repository][filter][owner][marcxchange]['[0-9]{3}'] = &
; or in all 3 character field
;repository[my_repository][filter][owner][marcxchange]['^...$'] = &
; or in all fields (if some are not 3 characters)
;repository[my_repository][filter][owner][marcxchange]['.*'] = &
; or remove subfields a and b in all field 7XX
;repository[my_repository][filter][owner][marcxchange]['^7..$'] = [ab]
;

; filter marcxchange tag 559 subfield i from collectionIdentier 870976-anmeld
repository[{{getv "/repositoryname"}}][filter]['870976-anmeld'][marcxchange]['^559'] = i
; filter docbook section with title = "Til bibliotekaren" from collectionIdentier 870976-anmeld
repository[{{getv "/repositoryname"}}][filter]['870976-anmeld'][docbook]['section/title'] = Til bibliotekaren


; Raw record repositories
; repository for Raw repository, a sql base indexed by solr
; Using "rawrepo" as repository parameter, will trigger the use of raw record solr core and raw repo content service
;repository[rawrecords][solr] = http://mysolr.dk/solr-version/select
;repository[rawrecords][rawrepo] = http://someserver.dbc.dk/rawrepo-content/RawRepoContentService
;repository[rawrecords][cql_file] = rawrecord_cql.xml
;

repository[rawrepo][solr] = http://dbc-tomcat-solr-rawrepo:8080/rawrecords/select
repository[rawrepo][rawrepo] = http://dbc-glassfish-rr-content-service:8080/rawrepo-content-service
repository[rawrepo][cql_file] = rawrecord_cql.xml
repository[rawrepo][filter][870970][marcxchange]['^[a-z]'] = .
repository[rawrepo][filter][870970][marcxchange]['^...$'] = [&]

; Universal Search - sofar still for test only:
; repository for Universal Search - settings are found in [universal_search_settings] section
; Using "universal" as repository parameter, will trigger the use of Universal Search instead of normal scheme
; repository[worldCat][universal] = universal_search_settings

; info to find available index and files from a solr repos
; solr_luke[from] = to    will replace "from" with "to" in the solr-uri
; solr_file[from] = to    will replace "from" with "to" in the solr-uri
solr_luke[select] = admin/luke?wt=json
solr_file[select] = admin/file?file=%s&contentType=text/xml;charset=utf-8

; --------------
; memcache
cache_host = localhost
cache_port = 11211
cache_expire = 600

; --------------
; memcache for solr_file - if not set cache_* will be used if set
solr_file_cache_host = localhost
solr_file_cache_port = 11211
solr_file_cache_expire = 3600

; --------------
; memcache search profile - defaults to cache_host, cache_port, cache_expire if not defined
agency_cache_host = localhost
agency_cache_port = 11211
agency_cache_expire = 60

; --------------
; timeout for agency call - defaults to 10 seconds
agency_timeout = 20

; --------------
; openAgency end point and operations
; ex:
; open_agency =  http://some.openagency/
;
open_agency = {{getv "/agencyendpoint"}}

; open agency operations, relative to open_agency above
agency_search_profile = ?action=openSearchProfile&agencyId=%s&profileVersion=%s&trackingId=%s
agency_types = ?action=libraryTypeList&&outputType=json&trackingId=%s
agency_show_order = ?action=showOrder&agencyId=%s&trackingId=%s
agency_rules = ?action=libraryRules&agencyId=%s&trackingId=%s

; --------------
; holding db - return number of items in stock and number of items available for lending
; ex: 
;   holdings_db = http://myServer.dbc.dk:9080/holdingsdb/availability?pid=%s
;   holdings_db = http://myServer.dbc.dk:8080/holdings-service/getAllAvailability?pid=%s
;
holdings_db = {{getv "/holdingsdb"}}


; --------------
; open format - address to openFormat service
; Use ws_open_format_uri if you want to run openFormat (php) on a different server than this one
; otherwise set ws_open_format_uri to space and define the [format] section below thereby including openformat directly in opensearch
; ex:
;   ws_open_format_uri = http://openformat.addi.dk/0.2/
;
ws_open_format_uri = {{getv "/openformat"}}

; formats supported by openFormat and possible name mapping
; open_format[openSearch_format_name][format] = openFormat format name
open_format[bibliotekdkWorkDisplay][format] = bibliotekdkWorkDisplay
open_format[briefWorkDisplay][format] = briefWorkDisplay
open_format[refWorks][format] = refWorks
open_format[ris][format] = ris
open_format[marc21ToDm2][format] = marc21ToDm2

; --------------
; formats supported by solr-indexes. Comma separated list of solr tags
; fedora.identifier will take the id of the manifestation from the fedora object
;solr_format[briefDisplay][format] = display.accessType,display.creator,fedoraPid,rec.id,fedora.identifier,display.language,display.partOf,display.title,display.titleFull,display.type,display.workType
solr_format[briefDisplay][format] = display.accessType,display.creator,fedoraPid,fedora.identifier,display.language,display.partOf,display.title,display.titleFull,display.dependentTitle,display.type,display.workType,display.multiVolumeType
solr_format[score][format] = score

; --------------
; if solr's field collapsing should be used, define the collapsing field here
; performs poorly on large sets
; if collapsing_field is set, the 2 num_found_collaps* are ignored
; collapsing_field = fedoraPid

; Use collapsing field for modifying hit count when prelimary hit count is below hit_count_collaps_limit
; if collapsing_field above is set, these 2 parameters are ignored
num_found_collaps_limit = 100
num_found_collapsing_field = fedoraPid

; --------------
; default search_profile setting
agency_fallback = {{getv "/agencyfallback"}}
profile_fallback = {{getv "/agencyprofilefallback"}}

; --------------
; relation_group_source_tab
; ...[relation][agency type][collection name] = mapped source
relation_group_source_tab[dbcbib:isPartOfManifestation][Forskningsbibliotek][katalog] = 870970-forsk

; --------------
; phrase indexes
phrase_index[] = facet
phrase_index[] = phrase
phrase_index[] = dkcclphrase

; --------------
; maximum number of identical relationnames returned
max_identical_relation_names = 20

; --------------
; scan objects for these formats
scan_format_table[dkabm:record] = dkabm
scan_format_table[marcx:collection] = marcxchange
scan_format_table[docbook:article] = docbook
scan_format_table[oso:object] = opensearchobject

; --------------
; number of second to wait for a solr reply
solr_timeout = 30

; --------------
; Max number of collection returned
; Defines the maximum stepValue acepted. 
; For collectionType = manifestation, max_manifestations is used, max_collections otherwise
max_collections = 50
max_manifestations = 200

; --------------
; Max number of threads to use for facetting - defaults to 50
;max_facet_threads = 50

; --------------
; logfile for verbose output
logfile = /tmp/opensearch.log
; logging to syslog is defined like:
;logfile = syslog://LOG_LOCAL0
; ident for syslog is set like where _VERSION_ is replaced by version setting above
;syslog_id = trlog[opensearch__VERSION_]

; set verboselevel
;   WARNING - simple warnings
;   ERROR   - errors in response
;   FATAL   - major errors
;   STAT    - Statístical logging
;   TIMER   - timer logging
;   TRACE   - program trace
;   DEBUG   - debugging info
;   Z3959   - calls to z3950 services
;   OCI     - oracle
verbose = {{getv "/verboselevel"}}

; format for automatic timer dump %s is the soap-action used. _VERSION_ is replaced by version defined above
;dump_timer = opensearch/_VERSION_(%s)
dump_timer = opensearch(%s)

; include line below to add the request ip adress to the TIMER log lines
;dump_timer_ip = TRUE

; --------------
; sorting & ranking
; sorting and rakings are defined in the structure below
;
; Define each simple sort as
; sort[<sort_name>] = <sort-field> <asc || desc>
;
; And make groups (if needed) as:
; sort[<group_sort_name-1>][] = <sort-name-1>
; sort[<group_sort_name-1>][] = <sort-name-2>
; sort[<group_sort_name-2>][] = <sort-name-2>
; sort[<group_sort_name-2>][] = <sort-name-3>
; sort[<group_sort_name-2>][] = <sort-name-1>
;
; rank[<rank_name>][<rank_parameter>][<rank_register>] = boost_value
;   rank_name is the sort-name that will trigger this ranking
;   rank_parameter, "word_boost", "phrase_boost" or "tie"
;   - must specify at least one word_boost and/or phrase_boost and just one tie
;   - boosts must be placed in descending boost order
;   rank_register name of register to use for ranking
;   boost_value (integer) for rank_register
;   tie_value (decimal) 1.0 or lower
;
; For information about ranking with the edismax search handler: 
; http://wiki.apache.org/solr/ExtendedDisMax
; - word_boost will go into the qf (query fields) parameter
; - phrase_boost will go into the pf (phrase fields) parameter
; - tie will go into the tie (tie breaker) parameter

rank[rank_main_title][word_boost][dkcclterm.ht] = 10
rank[rank_main_title][word_boost][rankterm.title] = 2
rank[rank_main_title][word_boost][term.default] = 1
rank[rank_main_title][phrase_boost][dkcclterm.ht] = 15
rank[rank_main_title][phrase_boost][rankterm.title] = 2
rank[rank_main_title][tie] = 0.1

rank[rank_subject][word_boost][dkcclterm.em] = 10
rank[rank_subject][word_boost][rankterm.subject] = 3
rank[rank_subject][word_boost][dkcclterm.ti] = 2
rank[rank_subject][word_boost][term.default] = 1
rank[rank_subject][phrase_boost][dkcclterm.em] = 15
rank[rank_subject][tie] = 0.1

rank[rank_verification][word_boost][rankterm.title] = 4
rank[rank_verification][word_boost][rankterm.creator] = 4
rank[rank_verification][word_boost][term.default] = 1
rank[rank_verification][phrase_boost][rankterm.title] = 8
rank[rank_verification][phrase_boost][rankterm.creator] = 6
rank[rank_verification][phrase_boost][term.default] = 2
rank[rank_verification][tie] = 0.1

rank[rank_title][word_boost][dkcclterm.ti] = 4
rank[rank_title][word_boost][term.default] = 1
rank[rank_title][phrase_boost][dkcclterm.ti] = 8
rank[rank_title][phrase_boost][term.default] = 2
rank[rank_title][tie] = 0.1

rank[rank_creator][word_boost][dkcclterm.po] = 10
rank[rank_creator][word_boost][dkcclterm.fo] = 3
rank[rank_creator][word_boost][rankterm.creator] = 2
rank[rank_creator][word_boost][term.default] = 1
rank[rank_creator][phrase_boost][dkcclterm.po] = 15
rank[rank_creator][tie] = 0.1

rank[rank_general][word_boost][dkcclterm.ti] = 3
rank[rank_general][word_boost][dkcclterm.fo] = 4
rank[rank_general][word_boost][dkcclterm.em] = 2
rank[rank_general][word_boost][term.default] = 1
rank[rank_general][phrase_boost][dkcclterm.ti] = 6
rank[rank_general][phrase_boost][dkcclterm.fo] = 8
rank[rank_general][phrase_boost][dkcclterm.em] = 3
rank[rank_general][phrase_boost][term.default] = 2
rank[rank_general][tie] = 0.1

rank[rank_none][word_boost][term.default] = 0.1
rank[rank_none][phrase_boost][term.default] = 0.1
rank[rank_none][tie] = 1

; to allow rank_frequency
rank[rank_frequency] = rank_frequency

; Special ranking rank_frequency
; specifies which registers used to search for frequency
; the highest hit count will select the rank method to use
; 
; setting default values for weight, filter, agency and profile
; default weight. Each hit count is multiplied by the weight
rank_frequency[weight] = 1
; default filter for the search. Specified as a valid edismax solr search
; - to limit to the most representation record. Could be the newest only like
;rank_frequency[filter] = term.date:[1940 TO *]
; default search profile to use. 
; - if set to "user_profile" the user specified profile is used, and agency is not needed
; - otherwise profile and agency together defines the search profile to be used
;rank_frequency[profile] = frequency
;rank_frequency[agency] = 190101
;
rank_frequency[profile] = user_profile
;
; Foreach group register and scheme must be defined. 
; - (ranking) scheme must be defined in rank above and register must be a searchable register
; grouping is done by first parameter and contains at least
; rank_frequence[my_group][register] = some.register
; rank_frequence[my_group][scheme] = some.rank_defined_above
; Foreach group weight, filter, agency and profile can be set or inherited from the defaults above
; rank_frequence[my_group][weight] = some.integer
; rank_frequence[my_group][filter] = some.solr.edismax.search
; rank_frequence[my_group][agency] = library.number
; rank_frequence[my_group][profile] = search.profile.defined.for.library.number
; 
rank_frequency[title][register] = dkcclterm.ti
rank_frequency[title][scheme] = rank_main_title
rank_frequency[title][weight] = 2
rank_frequency[creator][register] = dkcclterm.fo
rank_frequency[creator][scheme] = rank_creator
rank_frequency[creator][weight] = 1
rank_frequency[subject][register] = dkcclterm.em
rank_frequency[subject][scheme] = rank_subject
rank_frequency[subject][weight] = 6


; rank[rank_frequency][an existing register] = rank_method_1
; rank[rank_frequency][a second existing register] = rank_method_2
; rank[rank_frequency][a third existing register] = rank_method_3
;
rank[rank_frequency][dkcclterm.ti] = rank_title
rank[rank_frequency][dkcclterm.fo] = rank_creator
rank[rank_frequency][dkcclterm.em] = rank_subject

; Special ranking rank_cql
; Specifies which rank method to use when the relation modifier 'relevant' is used in a cql search
; dkcclterm.ti =/relevant "some words" will use the rank_title method above
;
rank[rank_cql][default] = rank_general
rank[rank_cql][dkcclterm.ti] = rank_title
rank[rank_cql][dkcclterm.fo] = rank_creator
rank[rank_cql][dkcclterm.em] = rank_subject

; Special random sort, which cannot be used in combination with other sorts or be a part of a sortgroup
; Used by client to create carousels for new books, music, ...
sort[random] = random

; sorts
sort[solr_title_ascending] = sort.title asc
sort[solr_title_descending] = sort.title desc
sort[solr_creator_ascending] = sort.creator asc
sort[solr_creator_descending] = sort.creator desc
sort[solr_date_ascending] = map(sort.date,0,0,9999) asc
sort[solr_date_descending] = map(sort.date,2050,999999,0) desc
sort[solr_acquisitionDate_ascending] = sort.acquisitionDate asc
sort[solr_acquisitionDate_descending] = sort.acquisitionDate desc

sort[solr_work_type_ascending] = sort.workType asc
sort[solr_work_type_descending] = sort.workType desc
sort[solr_record_owner_ascending] = sort.recordOwner asc
sort[solr_record_owner_descending] = sort.recordOwner desc
sort[solr_article_date_ascending] = sort.articleDate asc
sort[solr_article_date_descending] = sort.articleDate desc

sort[solr_genre_category_ascending] = sort.genreCategory asc
sort[solr_genre_category_descending] = sort.genreCategory desc
sort[solr_dk5_ascending] = sort.dk5 asc
sort[solr_dk5_descending] = sort.dk5 desc

; sortgroups using sorts - allows you to create "grouped"-sorts, combining existing sorts
; like:
; sort[<group_sort_name>][] = <sort_name_1>
; sort[<group_sort_name>][] = <sort_name_2>
; where sort_name_1 and sort_name_2 must be defined above as "simple" sorts
; Both the <group_sort_name> and <sort_name_1> are available for the users, so there is no
; necessity to make a group with only one line
;
sort[acquisitionDate_ascending][] = solr_acquisitionDate_ascending
sort[acquisitionDate_descending][] = solr_acquisitionDate_descending

sort[article_date_ascending][] = solr_article_date_ascending
sort[article_date_descending][] = solr_article_date_descending

sort[creator_ascending][] = solr_creator_ascending
sort[creator_ascending][] = solr_date_descending
sort[creator_ascending][] = solr_title_ascending
sort[creator_descending][] = solr_creator_descending
sort[creator_descending][] = solr_date_descending
sort[creator_descending][] = solr_title_ascending

sort[date_ascending][] = solr_date_ascending
sort[date_ascending][] = solr_work_type_ascending
sort[date_ascending][] = solr_record_owner_ascending
sort[date_ascending][] = solr_article_date_ascending
sort[date_descending][] = solr_date_descending
sort[date_descending][] = solr_work_type_ascending
sort[date_descending][] = solr_record_owner_ascending
sort[date_descending][] = solr_article_date_descending

sort[record_owner_ascending][] = solr_record_owner_ascending
sort[record_owner_descending][] = solr_record_owner_descending

sort[title_ascending][] = solr_title_ascending
sort[title_ascending][] = solr_date_descending
sort[title_ascending][] = solr_creator_ascending
sort[title_descending][] = solr_title_descending
sort[title_descending][] = solr_date_descending
sort[title_descending][] = solr_creator_ascending

sort[work_type_ascending][] = solr_work_type_ascending
sort[work_type_descending][] = solr_work_type_descending

sort[genre_category_ascending][] = solr_genre_category_ascending
sort[genre_category_descending][] = solr_genre_category_descending

sort[dk5_ascending][] = solr_dk5_ascending
sort[dk5_descending][] = solr_dk5_descending

; --------------
; filter for rank_frequency
; defines a filter used when term frequencies are found 
; - "user_profile" will use the filter provided by the user specified search profile
frequency_filter[] = user_profile
frequency_filter[] = term.date:[1940 TO *]

; ==============

[universal_search_settings]
target = {{getv "/worldcatztarget"}}
database = {{getv "/worldcatztargetdatabase"}}
authentication = {{getv "/worldcatztargetauthentication"}}
;proxy = {{getv "/worldcatztargetproxy"}}
syntax = {{getv "/worldcatztargetsyntax"}}
element = {{getv "/worldcatztargetelement"}}
rpn = @attr 6=1 @attr 4=2 @attr 3=3 @attr 2=3 @attr BIB1 1=1016 %s
timeout = 30

; ==============

[format]
; if ws_open_format_uri is not defined (or blank) in the [setup] section, openformat functionality
; will be included in opensearch and the settings in this section will be used. Unlesss you want to
; run openFormat on a different server than this on, you should use this section

; list of java/javacript formatters
; Adding more than 1 js_server will parallelize formating over these servers
; - if the js_server has more than 1 cpu, parallelizing can be done by adding the same server several times
;
;js_server[] = some_server.dk:8018/openformat
;js_server[] = some_server.dk:8018/openformat
;js_server[] = some_server.dk:8018/openformat
;js_server[] = some_server.dk:8018/openformat
;js_server[] = some_other_server.dk:8018/openformat
;js_server[] = some_other_server.dk:8018/openformat
{{getv "/formatjsserverblock"}}


; timeout in seconds for java/javascript formatters
curl_timeout = {{getv "/formatcurltimeout"}}

; cache setting for the format part
; - cache_host: name of cache server, use localhost in caching is done locally
; - cache_port: port for caching host
; - cache_expire: number of seconds before a cached entry will expire
;cache_host = localhost
;cache_port = 11211
;cache_expire = 600
{{getv "/formatcachesettingsblock"}}

; ==============

[service_registry]
; section to set up data for registry

; registry - url of the registry service
;registry = http://registry.dbc.dk/1.2/?service=%s&operation=%s&version=%s&host=%s&port=%s&home=%s

; ignore_in_url - if found in url, the operation is not send to the registry service. To filter surveilance requests
; Remember to include this in urls in howRU section
;ignore_in_url = surveil

; frequency- one in frequency calls will be send to registry service. For frequently used services, this whould be higher than seldom used
; since it not necesary to send info each this service is hit. Defaults to 1000
;frequency = 1000

; ==============

[aaa]
; aaa Authentication, Access control and Accounting
;
; Creates a authentication object from aaa_ip_rights, aaa_fors_rights or aaa_credentials - in that order
;
; Rights can be set here for selected ip-addresses
; aaa_ip_rights[group-identifier][ip_list] = list of ip's
; aaa_ip_rights[group-identifier][ressource][<named ressource>] = right to <named ressource>
; aaa_ip_rights[group-identifier][ressource][<named ressource 2>] = right to <named ressource 2>
;
{{getv "/aaaiprights/ip"}}
{{getv "/aaaiprights/resource"}}
;
; if not found in aaa_ip_rights the authentication object is created from the FORS
; either by using the WS specified by aaa_fors_rights or by OCI specified by aaa_credentials
;
; uri for a fors rights webservice - aaa_fors_rights have precedence over aaa_credentials
;aaa_fors_rights = http://forsrights.some.server/?action=forsRights&outputType=php&userIdAut=%s&groupIdAut=%s&passwordAut=%s&ipAddress=%s
;
; oci credentials for FORS server
;aaa_credentials = ora_user/ora_passwd@some.server.dk
;
; memcache server for the authentication object - use localhost in one-webserver environment
;aaa_cache_address = localhost:11211
; number of seconds to cache authentication and access rights info
;aaa_cache_seconds = 3600
;

; ==============

[rest]
; REST parameters for SOAPAction
;
; use xml.path.to.par notation to solve name-conflicts
; action[thisSoapAction][foo][] = some.number
; action[thisSoapAction][bar][] = another.number
; to build 
; <thisSoapAction>
;   <foo>
;     <number>nn</number>
;   </foo>
;   <bar>
;     <number>mm</number>
;   </bar>
; </thisSoapAction>
; from url: action=thisSoapAction&some.number=nn&another.number=mm
;
action[search][] = query
action[search][] = queryFilter
action[search][] = queryLanguage
action[search][] = agency
action[search][] = profile
action[search][] = allObjects
action[search][] = callback
action[search][] = collectionType
action[search][facets][] = facets.numberOfTerms
action[search][facets][] = numberOfTerms
action[search][facets][] = facets.facetName
action[search][facets][] = facetName
action[search][] = includeHoldingsCount
action[search][] = collapseHitsThreshold
action[search][] = outputType
action[search][] = objectFormat
action[search][] = relationData
action[search][] = repository
action[search][] = source
action[search][] = start
action[search][] = stepValue
action[search][] = rank
action[search][] = sort
;action[search][userDefinedRanking][] = userDefinedRanking.tieValue
;action[search][userDefinedRanking][rankField][] = userDefinedRanking.rankField.fieldName
;action[search][userDefinedRanking][rankField][] = userDefinedRanking.rankField.fieldType
;action[search][userDefinedRanking][rankField][] = userDefinedRanking.rankField.weight
action[search][] = queryDebug
action[search][] = trackingId

action[getObject][] = agency
action[getObject][] = profile
action[getObject][] = identifier
action[getObject][] = objectFormat
action[getObject][] = callback
action[getObject][] = includeHoldingsCount
action[getObject][] = outputType
action[getObject][] = relationData
action[getObject][] = repository
action[getObject][] = trackingId

action[info][] = agency
action[info][] = profile
action[info][] = callback
action[info][] = outputType
action[info][] = trackingId

; ==============

[showinfo]
; section to dump setting online
; make one or more line to display if ?ShowInfo is part of the url
; __var__ will be replace by the corresponding ini-file setting - if it exists
; __var.section__ will be replace by the corresponding ini-file setting from section [section]
; this will only work if the user from in_house_domain - see above
showinfo[] = <pre>
showinfo[] = version:            __version.setup__
showinfo[] = logfile:            __logfile.setup__
showinfo[] = verbose:            __verbose__
showinfo[] = agency:             __open_agency__
showinfo[] = holdings:           __holdings_db__
showinfo[] = aaa_credentials:    __aaa_credentials__
showinfo[] = aaa_fors_rights:    __aaa_fors_rights__
showinfo[] = aaa_ip_rights:      __aaa_ip_rights__
showinfo[] = default_repository: __default_repository__
showinfo[] = repository:         __repository__
showinfo[] = rank:               __rank__
showinfo[] = sort:               __sort__
showinfo[] = rank_frequency:     __rank_frequency__
showinfo[] = max_collections:    __max_collections__
showinfo[] = max_manifestations: __max_manifestations__
showinfo[] = </pre>

; ==============

[howru]
test[] = search&query=danmark&stepValue=1&surveil=1
preg_match[] = hitCount
error[] = ERROR searching for danmark
