# This file is mirrored in os-python -> hive -> hive_environment.py.
# Therefore, all variables should be added in that project.

# SERVER or BATCH
Mode={{getv "/mode" "BATCH"}}

# Number of unblocked harvested items wanted in the queue
QueueSize = {{getv "/queuesize" "500"}}
# Maximum size queue is allowed to grow to if not enough unblocked items are available
DynamicQueueSize = {{getv "/dynamicqueuesize" "2000"}}

# Number of jobs to harvest at a time
HarvestBatchSize = {{getv "/harvestbatchsize" "100"}}

# Time in seconds to sleep between checking for new jobs
HarvestPollInterval = {{getv "/harvestpollinterval" "5"}}

# Set harvester implmentation: { ESFileRecordFeeder, ESHarvester }
RecordFeeder = {{getv "/recordfeeder" "ESFileRecordFeeder"}}

HarvestDir = harvest-files/es-files
ProgressDir = progress
SuccessDir = success
FailureDir = failure
ESCleanupEnabled = {{getv "/escleanupenabled" "true"}}
ESFailureDir = {{getv "/esfailuredir" "esfailure"}}
HarvestDatabaseDriver = {{getv "/harvestdatabasedriver" "oracle.jdbc.driver.OracleDriver"}}
HarvestDatabaseNames = {{getv "/harvestdatabasenames" "ting"}}
ESConnManConfig = config/es_connman.xml

# Number of threads to use for processing posts
ProcessingThreadPoolSize = {{getv "/processingthreadpoolsize" "1"}}

LogBack = config/hive_logback.xml

# Http parameters

HttpClientMaxRetries = {{getv "/httpclientmaxretries" "120"}}
HttpClientWaitBetweenRetriesInMs = {{getv "/httpclientwaitbetweenretriesinms" "1000"}}

# Repository Parameters
RepositoryUrl = http://dbc-tomcat-fedora:8012/fedora
RepositoryUser = {{getv "/repository/user" "fedoraAdmin"}}
RepositoryPassword = {{getv "/repository/password" "fedoraAdmin"}}

# OpenAgency service import URL
OpenAgencyUrl = {{getv "/openagencyurl" "http://openagency.addi.dk/2.23/"}}

# HoldingsDb service import URL
#HoldingsDbImportUrl = {{getv "/holdingsdbimporturl" "http://localhost:8080/holdingsdb/import"}}

# Addi service add job URL
#AddiServiceUrl = {{getv "/addiserviceurl" "http://localhost:8080/addi-service/addAddiJob"}}

# Module Search Paths for the javascripts
# Please notice: all searchpaths must end with a '/'.
#
# The search paths for the common parts of jscommon
ModuleSearchPath = classpath:javascript/jscommon/system/
ModuleSearchPath = classpath:javascript/jscommon/devel/
ModuleSearchPath = classpath:javascript/jscommon/util/
ModuleSearchPath = classpath:javascript/jscommon/external/
ModuleSearchPath = classpath:javascript/jscommon/xml/
# Javacore
ModuleSearchPath = classpath:javascript/javacore/
# Our own javascripts
ModuleSearchPath = classpath:javascript/

PreProcessorScript = javascript/preprocessor.js
PreProcessorFunction = getPreProcessorData

IdExtractorScript = javascript/idExtractor.js
IdExtractorFunction = extractIdFromOriginalData

StreamHarvesterScript = javascript/streamHarvester.js
StreamHarvesterFunction = harvestDataStreams
DCStreamName = DC

UnitMatcherScript = javascript/unitMatcher.js
UnitMatcherFunction = matchUnit

PrimarySelectorScript = javascript/primarySelector.js
PrimarySelectorFunction = selectPrimary
UnitStreamHarvesterScript = javascript/unitStreamHarvester.js
UnitStreamHarvesterFunction = harvestDataStreams

WorkMatcherScript = javascript/workMatcher.js
WorkMatcherFunction = matchWork
WorkStreamHarvesterScript = javascript/workStreamHarvester.js
WorkStreamHarvesterFunction = harvestDataStreams
